{% extends 'dpcmmis/base2.html' %}

{% block title %} login {% endblock %}


{% load crispy_forms_tags %}
{% block content %}

<form action="/password_change/" method="POST">
    <h3>Change Password</h3>

    {% csrf_token %}
       {{form|crispy}}

   <div class="row d-flex justify-content-center text-center">
       <button type="submit" class="btn btn-success" value="submit"> Change Password </button>
   </div>
<!--    The 'button' could be replaced with 'input' without the closing tag-->
</form>

{% endblock %}

