{%extends 'base.html'%}
{%load static%}


{block content}
<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>Department of Pollution Control and Environmental Health</h3>
				<h1>Mercury Management Information System</h1>
				<hr>
				<a href="#work" class="smoothScroll btn btn-danger">How it works</a>
				<a href="#contact" class="smoothScroll btn btn-default">Talk to us</a>
			</div>
		</div>
	</div>
</section>

<!-- work section -->
<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>01</strong>
					<h1 class="heading bold">HOW IT WORKS</h1>
					<hr>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<i class="icon-laptop medium-icon"></i>

					<h3>LOGIN WITH PC</h3>
					<hr>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<i class="icon-mobile medium-icon"></i>
					<h3>LOGIN WITH ANY MOBILE DEVICE</h3>
					<hr>
					<p>Digital Team is free responsive Bootstrap v3.3.5 layout from <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Tooplate</a>. Images are from <a rel="nofollow" href="http://pixabay.com" target="_parent">Pixabay</a> free photo website.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-browser medium-icon"></i>

					<h3>INPUT DATA</h3>
					<hr>
					<p>You can edit and use this template for your websites. Please tell your friends about Tooplate. Thank you for visiting our website.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-cloud medium-icon"></i>

					<h3>CLOUD STORAGE</h3>
					<hr>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-compass medium-icon"></i>
					<h3>INSTANT USE</h3>
					<hr>
					<p>You can easily change icons by looking at <a href="https://www.elegantthemes.com/blog/resources/how-to-use-and-embed-an-icon-font-on-your-website" target="_blank">ET Line Icons</a>. Excepteu sunt in culpa qui officia. Duis aute irure dolor in reprehenderit.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
				<i class="icon-chat medium-icon"></i>
					<h3>CONTACT US</h3>
					<hr>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.</p>
			</div>
		</div>
	</div>
</section>


<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>02</strong>
					<h1 class="heading bold">About</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="{% static 'images/about-img.jpg' %}" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12">
				<h3 class="bold">MERCURY MIS</h3>
				<h1 class="heading bold">Department of Pollution Control and Environmental Health</h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">INTRODUCTION</a></li>
					<li><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">PROJECT</a></li>
					<li><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SYSTEM</a></li>
				</ul>
				<!-- tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="design">
						<p>The Federal government of Nigeria is desirous to implement the provisions of the Minamata Convention; a global treaty to protect human health and the environment from the adverse effects of mercury. Thus, the Federal government through the Federal Ministry of Environment undertook a Minamata Convention on Mercury Initial Assessment (MIA) from 2015-2017.</p>
						<p> The report highlights priority actions to be taken, part of which is to develop detailed sectoral action plans to implement the Convention in Nigeria and, within such action plans, implement activities that would assist the nation to achieve its sustainable sound management of chemicals.</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="mobile">
						<p>This project is building on the Minamata Convention Initial Assessment (MIA) and aims to develop Specific National Action plans for the cement, mercury in products, trade and supply, waste and environment and health sectors in close consultation with relevant stakeholders and these will be incorporated into the National implementation strategy.</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="social">
						<p>The Mercury Management Information System is developed with a view to collect, process, store data and share information working collaboratively with various MDAs. This system will help the focal point to access information/data collected in the field and use the same to ensure up to date information are made available remotely to relevant stakeholders.

							The Nigeria government leveraged on the provisions under article 14 of the Minamata convention, hence, through the Focal point engages its international partners, multilaterally and bilaterally, to develop this system, which is meant to address key mercury issues such as:
							•	Mercury data collection and inventory development
							•	Mercury source characterization, and
							•	Mercury best practices for emissions and use reduction.
							</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>03</strong>
					<h1 class="heading bold">MANAGEMENT</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
				<div class="team-wrapper">
					<img src="{%static 'images/team1.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Charles Kanu Ikeah</h4>
							<h3>Director, DPC&EH</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
				<div class="team-wrapper">
					<img src="{% static 'images/team2.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Sharon Ikeazor</h4>
							<h3>Minister Of Environment</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<img src="{% static 'images/team3.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Hassan Musa</h4>
							<h3>Permanent Secretary</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<!--<img src="{% static 'images/t.jpg' %}" class="img-responsive" alt="Minister of State">-->
						<div class="team-des">
							<h4>name</h4>
							<h3>Minister of State</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- portfolio section -->
<!-- pricing section -->

<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>04</strong>
					<h1 class="heading bold">CONTACT US</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">CONTACT INFO</h2>
				<p>17 Aguiyi Ironsi St, Wuse 904101, Abuja</p>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
					<p>info@pceh.gov.ng</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> PHONES</h3>
					<p>+234 80 123 456 78 | +234 90-080-0760</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">

					<div class="col-lg-12 ">
						<iframe class="mb-6 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15759.241811048792!2d7.4927314!3d9.0810256!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaa21e6e318242fe8!2sFederal%20Ministry%20Of%20Environment%2C%20Department%20Of%20Pollution%20Control%20%26%20Environmental%20Health!5e0!3m2!1sen!2sng!4v1642667432619!5m2!1sen!2sng" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
					  </div>

			</div>
		</div>
	</div>
</section>

{endblock}